.notesTitle > div {
    width: 2rem;
}

.notesTitle p {
    display: inline-block;
}

.notesTitle a {
    margin-left: auto;
    margin-right: 0;
}

/* .notesTitle > a > input {
    width: 2rem;
} */

.notesTitle {
    width: 100%;
    display: flex;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: stretch; */
    /* align-content: stretch; */
    /* justify-content: stretch; */
    /* align-items: space-evenly; */
    /* align-content: space-evenly; */
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
    align-items: flex-start;
    /* align-content: flex-start; */
    /* justify-content: flex-start; */
    /* align-items: baseline; */
    /* align-content: baseline; */
    /* justify-content: baseline; */
}
