* {
    background-color: lime !important;
    margin: 0 !important;
    padding: 10vh !important;
}

.inline-button {
    background-color: lime !important;
    margin: 0 !important;
    padding: 10vh !important;
}
